#logout {
    display: flex;
    justify-content: right;
    margin-top: 5px;
    margin-right: 20px;
}

body {
    font-size: 12pt;
    font-family: Poppins;
}

button {
    background: #FFF56C;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    font-size: 14pt;
    font-family: Poppins;
    justify-content: center;
    min-width: 65px;
    border: 0;
    padding: 5px;
    border-radius: 12px;
}

.card {
    z-index: 1;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 700px;
}

#createContact {
    display: flex;

    input {
        margin-right: 10px;
    }

    button {
        margin-right: 5px;
    }

    #create-title {
        margin-right: 20px;
    }

}

#error {
    display: flex;
    justify-content: center;
}

#searchList {
    width: 80%;
    display: flex;
    justify-content: center;
}

#searchResults {
    justify-content: center;
    
    input {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    button {
        margin: 0;
    }

    .col-space {
        padding: 0 15px;
        text-align: center;
    }
}

input {
    font-size: 12pt;
    font-family: Poppins;
    min-width: 150px;
    box-sizing: border-box;
}